* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}
body{
    width: 100% !important;
    max-width: 100%;
    background-color: #ececec;
}

.curved {
    position: relative;
    background: rgb(17, 56, 91);
    height: 20vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }

  .curved-inverted {
    position: relative;
    background: rgb(17, 56, 91);
    height: 10vh;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
  }

.section-v1{
    background-color: #ffffff !important;
}
