#home{
    width: 100% !important;
    height: auto !important;
    background-color: #11385b;
}

#logoHome {
    width: 400px;
    height: 379px;
    background-image: url('./../assets/img/logo_blanco.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px 379px;
    background-color: transparent;
    margin-top: 20vh !important;
}


@media only screen and (width <= 767px) {
  #logoHome {
    /* display: none; */
    width: 300px !important;
    background-image: url('./../assets/img/logo_blanco.png');
    background-position: center;
    background-size: 300px 259px;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 20vh !important;
  }
  #titleHomeDiv {
    margin-top: 50px !important;
    text-align: center;
  }
}


#titleHomeDiv {
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleHome {
    color: #FEC53A;
    vertical-align: middle;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
}
#titleHome > span {
    font-weight: 200 !important;
}

#subTitle {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
#subTitle > span {
  padding-bottom: 5px;
  border-bottom: solid 1px #f0292c
}

#imgAbout{
    width: 100%;
    height: 600px;
    background-image: url('./../assets/img/bg_about.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  
}


.sectionTitle{
    font-size: 40px;
    color: #11385b;
}

.stitlesP{
    font-size: 20px;
    text-align: justify;
    
}

/* Footer.css */
.footer-container {
    background-color: #11385b;
    color: #fff;
    padding: 30px 0;
  }
  
  .footer-column {
    margin-bottom: 20px;
  }
  
  .footer-column h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }

  #section-style {
    background-color: #dae3eb;
  }

  
  .card-style {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 48px;
    border-radius: 32px;
    overflow: hidden;
    line-height: 1.6;
    border: 1px solid #11385be7;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    color: #11385b;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.3;
    z-index: 1;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content .para {
    z-index: 1;
    opacity: 0.8;
    font-size: 22px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card-style::before {
    content: "";
    position: absolute;
    right: -6.5rem;
    top: -6.5rem;
    width: 13rem;
    height: 13rem;
    z-index: 0;
    background: #11385b;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card-style::after {
    content: "";
    position: absolute;
    left: -6.5rem;
    bottom: -6.5rem;
    width: 13rem;
    height: 13rem;
    z-index: 0;
    background: #11385b;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card-style:hover::before {
    scale: 7;
    opacity: 1;
  }
  
  .card-style:hover::after {
    scale: 7;
    opacity: 1;
  }
  
  .card-style:hover .content .heading {
    color: #FEC53A;
  }
  
  .card-style:hover .content .para {
    color: #FEC53A;
  }
  
  .card-style:hover {
    box-shadow: 0rem 8px 16px rgba(0, 0, 0, 0.1),
      0rem 32px 32px rgba(0, 0, 0, 0.09), 0rem 72px 44px rgba(0, 0, 0, 0.05),
      0rem 128px 52px rgba(0, 0, 0, 0.01), 0rem 200px 56px rgba(0, 0, 0, 0);
    border-color: #f0292c;
    scale: 1.05;
  }


  .card-service {
    position: relative;
    width: auto;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-service img {
    width: 1000px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card__image {
    width: auto;
    height: auto;
  }
  
  .card-service:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-service:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
  }
  
  .card-service:hover img {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
  }
  
  .secondary {
    background: transparent;
    color: #777;
    border: 1px solid #777;
  }
  
/* .col-md-6 {
    text-align: center;
}
  
.col-md-6 img {
    max-width: 100%; 
    height: 400px; 
    border-radius: 8px;
    
    
  }
   */
  
/* #containerImg {
    margin: 0 !important;
    padding: 20vh 0 0 0 !important;
} */
/* 
#containerImg > img {
    padding: 0;
    margin: 0;
    width: 360px;
    max-width: 360px;
} */


.testindexBG {
  width: 100% !important;
  height: 1100px !important;
  background-color: #11385b;
  background-image: url('../assets/img/bg_index.png');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;

}



