

  .nav-style img {
    margin-right: auto ;
    width: 100px;
    height: 50px;
    display: flex;
  }

  .section-container {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
  }
  
  .content {
    max-width: 1500px;
    margin: auto;
  }

  .content p {
    font-size: 30px;
    line-height: 1.5;
    color: #11385b;
    text-align: justify;
  }

  .content h1 {
    font-size: 50px;
    color:#11385b;
  }

  .content-services {
    max-width: 1500px;
    margin: auto;
  }
  
  .content-services p {
    font-size: 30px;
    line-height: 1.5;
    color: #11385b;
    text-align: justify;
  }

  .content-services h1 {
    font-size: 50px;
    color:#11385b;
  }

  .content-about {
    max-width: 1500px;
    margin: auto;
  }
  
  .content-about p {
    font-size: 30px;
    line-height: 1.5;
    color: #11385b;
    text-align: justify;
  }

  .content-about h1 {
    font-size: 50px;
    color:#11385b;
  }
  
  /* imagenes */
  .content img {
    margin-right: auto;
    width: 800px;
    height: 400px;
    display: block;
  }

  .content-services img {
    margin-right: auto;
    width: 400px;
    height: 400px;
    display: block;

  }

  .content-about img {
    margin: auto;
    width: 600px;
    height: 400px;
    display: block;
  }

  